#pathway {
    display: flex;
    align-items: baseline;
    margin-left: 7.5%;
}

.link {
    text-decoration: underline;
    margin-right: 1%;
}

#sci-details {
    margin-left: 7.5%;
    margin-right: 7.5%;
}

#sd-div, #sd-dob-acc  {
    display: flex;
    align-items: baseline;
    height: 9vh;
}

#name {
    font-size: xx-large;
}

#field {
    font-size: x-large;
    margin-left: 1%;
}

.sd-dob {
    margin-top: 0;
    margin-right: 0.3%;
    font-size: large;
}

#sd-image-blurb {
    display: flex;
    height: 70vh;
}

#sd-blurb {
    margin-top: 0;
}

#sd-prof-image {
    height: 70vh;
    width: 50vh;
    margin-right: 2%;
}

#sd-bg-image {
    width: 120vh;
    height: 47vh;
}

#sd {
    margin-bottom: 3%;
}

#wiki-link {
    margin-left: 1%;
}

@media screen and (max-width: 1023px) {
    #sd-prof-image {
        height: 70vh;
        width: 50vh;
    }
    #sd-bg-image {
        width: 50vh;
        height: 25vh;
    }
    #sd-blurb {
        font-size: small;
    }
}
  
@media screen and (max-width: 767px) {
    .link, #sd-name {
        font-size: small;
    }
    #name, #field {
        font-size: large;
    }
    .sd-dob, #sd-accomplish {
        font-size: small;
    }
    #sd-image-blurb {
        display: flex;
        flex-direction: column;
    }
    #sd-blurb-div {
        margin-top: 3%
    }
    #sd-bg-image {
        width: 50vh;
        height: 25vh;
    }
    #sd-blurb {
        width: 50vh;
    }
    #sd {
        margin-bottom: 100%;
    }
}