.thick-divider {
    height: 4px;
    background-color: #000000; 
    width: 100%; 
    margin: 0 auto; 
}

.vertical-divider {
    height: 100%;
    background-color: #ccc; 
    width: 2px; 
    margin-left: 1%; 
    margin-right: 1%; 
}

.search-bar {
    display: flex;
    height: 7vh;
    padding-left: 7.5%;
}

select, .reset-btn, input {
    border: none;
    text-decoration: underline;
    font-size: medium;
    font-weight: bold;
    background: none;
    cursor: pointer;
}

#magnifyglass {
    height: 4vh;
    margin-top: 1vh;
    cursor: pointer;
}

input {
    width: 20vh;
}

input[type="text"]:focus {
    text-decoration: none; 
    color: gray 
  }