nav {
    display: flex;
    justify-content: space-between;
    padding-left: 7.5%;
    padding-right: 7.5%;
}

.underline {
    text-decoration: underline;
    margin-top: 4vh;
    font-size: 1em;
}

#nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 50vh;
}
  
@media screen and (max-width: 767px) {
    h1 {
        font-size: xx-large;
    }
    .underline {
        margin-top: 3vh;
    }
}
