.grid-image {
    width: 30vh;
    height: 30vh;
    top: 0;
    left: 0;
    margin: 0;
}

.image-container {
    position: relative;
}

#sci-name {
    margin-left: 8%;
    font-family: 'Faustina', sans-serif;
    margin-bottom: 1%;
    font-size: large;
}

.text {
    color: white; 
}

.field-text {
    margin-top: 0;
    margin-left: 8%;
}

.overlay {
    position: absolute;
    width: 30vh;
    height: 30vh;
    opacity: 0;
    transition: opacity 0.5s;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.scientist:hover .overlay {
    opacity: 1;
}

#heart {
    height: 3vh;
    position: absolute;
    right: 23%;
    bottom: 6%;
}

#sci-name-heart {
    display: flex;
    position: relative;
}